.logregform {
    border: 2px solid green;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    width: 48%;
}

.succreguser {
    color: green;
    font-size: xx-large;
}

.error {
    color: red;
    font-size: x-large;
}