.menu {
    background-color: greenyellow;
    background-image: linear-gradient(to right, white, greenyellow, white, greenyellow);
    box-shadow: 0 8px 45px 0 rgba(88, 196, 49, 0.75);
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    text-decoration: double;
    display: inline-block;
    width: 98%;
}

.logreg {
    padding-left: 500px;
}

.logout {
    padding-left: 100px;
}

.signin {
    padding-left: 500px;
}