html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(231, 211, 175, 0.738);
  padding: 2rem;
  width: 100vw;
}
.menu h1 a {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: orangered;
  text-decoration: none;
}
.menu .nav {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
}
.menu .nav a:link,
.menu .nav a:visited {
  text-decoration: none;
  font-size: 1.7rem;
  color: #333;
  transition: all 0.3s ease;
  display: block;
}
.menu .nav a:hover,
.menu .nav a:active {
  color: orangered;
  transform: translateY(-5px);
}

.categoryForm {
  margin: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.categoryForm label {
  font-size: 2.2rem;
}
.categoryForm input {
  padding: 1.5rem 1.8rem;
  border-radius: 10px;
}
.categoryForm input::placeholder {
  font-size: 1.9rem;
}
.categoryForm button {
  padding: 1.1rem 1.6rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.categoryForm button:hover {
  background-color: orangered;
  color: #fff;
}

.createProductForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}
.createProductForm .formHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.createProductForm .formHeader h1 {
  margin-left: 3rem;
  margin-top: 1rem;
}
.createProductForm .formHeader .buttonContainer {
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding-bottom: 1rem;
}
.createProductForm .formHeader .buttonContainer button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.createProductForm .createProductMainContainer {
  display: flex;
}
.createProductForm .createProductMainContainer .createProductMain {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}
.createProductForm .createProductMainContainer .createProductMain__element {
  display: flex;
  align-items: center;
  gap: 9rem;
}
.createProductForm .createProductMainContainer .createProductMain__element label {
  font-size: 1.5rem;
  width: 8%;
}
.createProductForm .createProductMainContainer .createProductMain__element input {
  padding: 0.7rem 1rem;
}
.createProductForm .createProductMainContainer .inputsContainer .book label,
.createProductForm .createProductMainContainer .inputsContainer .cd label {
  width: 40%;
  font-size: 1.2rem;
  margin-right: 2rem;
}
.createProductForm .createProductMainContainer .inputsContainer .furniture {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.createProductForm .createProductMainContainer .inputsContainer .furniture .furniture__element {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.createProductForm .createProductMainContainer .inputsContainer .furniture .furniture__element label {
  width: 40%;
  font-size: 1.2rem;
}
.createProductForm .createProductMainContainer .inputsContainer .furniture.active,
.createProductForm .createProductMainContainer .inputsContainer .book.active,
.createProductForm .createProductMainContainer .inputsContainer .cd.active {
  transform: translateX(0rem);
}
@media screen and (max-width: 450px) {
  .createProductForm .createProductMainContainer {
    flex-direction: column;
    gap: 3rem;
  }
}

.myExceptions {
  font-size: 1.8rem;
  display: flex;
  flex-basis: auto;
  color: crimson;
  justify-content: center;
}

.indexlistForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.indexlistForm h1 {
  margin-left: 2rem;
  margin-top: 1rem;
}
.indexlistForm .buttonContainer {
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.indexlistForm .buttonContainer button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.cdContainer {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.cdContainer .cd,
.cdContainer .furniture,
.cdContainer .book {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.cdContainer .cd input,
.cdContainer .furniture input,
.cdContainer .book input {
  align-self: flex-start;
  margin-left: -1rem;
}
.cdContainer .cd .inputContainer,
.cdContainer .furniture .inputContainer,
.cdContainer .book .inputContainer {
  font-size: 1.5rem;
  padding: 1rem 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
